<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Projeto_Tcc.Properties.Settings.bdprojetoConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\bdprojeto.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="bdprojetoEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\bdprojeto.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Projeto_Tcc.Properties.Settings.Database1ConnectionString" connectionString="Data Source=|DataDirectory|\Database1.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="Projeto_Tcc.Properties.Settings.ConnectionString" connectionString="Data Source=EDUARDO-PC\SQLEXPRESS;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Projeto_Tcc.Properties.Settings.TccConnectionString" connectionString="Data Source=EDUARDO-PC\SQLEXPRESS;Initial Catalog=Tcc;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>